<h1>Home aaaaaa</h1>
<% if current_user %>
  Hello <%= current_user.email %>
  <%= button_to "Sign out", signout_path, method: :delete %>
  <br>
  <% if current_user.role == 'admin' %>
    <% link_to "Buses", buses_path %>
    <% link_to "Trips", trips_path %>
    <% link_to "Routes", routes_path %>
    <% link_to "Boarding Points", boarding_points_path %>
  <% end %>
<% else %>
  <%= button_to "Sign up", new_user_registration_path %>
  <%= button_to "Sign in", new_user_session_path %>
<% end %>
